<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * fileName     : admin-mapper
 * author       : HyunSeo Na
 * date         : 2025-02-02
 * description  : Admin Mapper
-->
<mapper namespace="com.example.springboottoy.mappers.AdminMapper">
    <select id="findListCommonCode" resultType="CommonCodeEntity">
    /* admin-mapper.findListCommonCode : 공통코드 헤더 리스트 */
        SELECT CCHD.CODE_HD,
               CCHD.CODE_HD_NM,
               CCHD.ORD,
               CCHD.REM,
               CCHD.REG_ID,
               CCHD.REG_DT,
               CCHD.MOD_ID,
               CCHD.MOD_DT,
               CCHD.STS
          FROM COMM_CODE_HD CCHD
         WHERE STS != 'D'
    </select>

</mapper>